html{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  text-align: center;
  font-size: 1.1em;
  font-weight: 300;
  font-size:
}
img{
  display: block;
  width: 100%;
  height: auto;
}
h1,h2,h3{
  margin:0;
  padding: 1em 0;
}
p{
  margin:0;
  padding: 1em 0;
}
/* header */
/* topmenu */
#topmenu{
  letter-spacing: 1px;
}
#topmenu ul{
  text-transform: uppercase;
}
.navbar-wrapper{
  margin-top: 20px;
}
.bg-light {
    background-color: #fff !important;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,0);
}
.navbar-toggler:focus,.navbar-toggler:active {
   outline: none !important;
   box-shadow: none;
}
.dropdown-menu{
  border:1px solid #ba8748;
}
/* logo */
#logo{
  color: #ba8748;
  text-transform: capitalize;
  margin-top: 20px;
  display: grid;
  justify-content: center;
}
.logo{
  height: 200px;
  width: 200px;
}
/* main */
.grid{
  display: grid;
}
#main{
  margin-top: 20px;
}
.content-title{
  padding:10px;
  font-weight: 300;
  text-transform: uppercase;
  color: color: rgba(0,0,0,.5);
  float: left;
  margin-bottom: 10px;
}
.content-text{
  padding:10px;
  text-align: left;
  margin-top: 50px;
}
/* footer */
#footer{
  margin-top: 50px;
}
.socials a{
  margin-left: 20px;
  color: #ba8748;
}
.socials a:hover{
  color:#936a39;
}
.socials a:active{

}
.credit{
  display: grid;
}
.credit p{
  padding-top: 10px;
  padding-bottom: 30px;
  text-transform:uppercase;
  text-align:center;
  white-space:pre-wrap;
  font-size: 14px;
}
/* clients */
/* main */
#clients-main{
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 50px 310px 1fr;
}
#clientstitle{
  text-align: left;
}
#clientext{
  margin-top: 0px;
  padding-right: 20px
}
/* list of clients */
.prop-lis{
  display: grid;
  grid-column: 1fr 1fr;
}
.prop-lis ul{
  list-style-type: none;
  font-weight: 400;
}
.prop-right{
  grid-column: 2/3;
}
/* portfolio */
/* section-b */
#section-b{
  grid-gap:30px;
  display: grid;
  grid-template-columns: 1fr;
}
.main-card{
}
/* services */
/* section a */

.services-list ul{
  text-align: left;
  /* list-style-type: none; */
  /* font-weight: 400; */
}
#services-right{
  margin-top: -16px;
}
#serv-img img{
  padding:40px 20px 0px 20px;
}
@media(min-width: 990px) {
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2f 6fr;
    grid-template-rows: 1fr;
  }
  .navbar-wrapper{
    text-align: right;
    grid-column: 3/4;
    margin-left:20px;
  }
  #navbarSupportedContent{
    margin-left: -65px;
    margin-top: 126px;
  }
  #logo{
    grid-column: 1/3;
    grid-row: 1/3;
    margin: 50px 20px 20px 40px;
  }
  /* clients */
  #clients-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 110px 1fr;
  }
  #clientstitle{
    text-align: left;
  }
  #clientext{
    grid-column: 1/2;
    margin-top: 25px;
    padding-right: 20px
  }
  /* portfolio */
  #section-b{
    display: grid;
    grid-gap:50px;
    grid-template-columns: 1fr 1fr;
  }
  /* services */
  .services-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #services-right{
    margin-top: 0px;
  }
  #serv-img img{
    padding:20px 150px 0px 150px;
  }
}
